.dgl_services-digital-marketing,
.dgl_services-digital-marketing-options {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.dgl_services-digital-development {
  display: flex;
  width: 80%;
}
