.dgl__services {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  padding: 0rem 3rem;
}

.dgl_services-headline-title {
  color: #01c8e9;
}

.dgl_services-digital-marketing-title {
  color: white;
}

.dgl_services-headline-subheader {
  color: #fff;
}

.dgl_services-digital-marketing,
.dgl_services-digital-marketing-options {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.dgl_services-digital-marketing-option-1,
.dgl_services-digital-marketing-option-2,
.dgl_services-digital-marketing-option-3 {
  background-size: 200% auto;
  margin: 1rem 1rem;
  width: 10rem;
  background-color: #0b102d;
  padding: 1rem 1rem;
  background-image: linear-gradient(
    to bottom,
    #3a7bd5 0%,
    #003c91 51%,
    #003c91 100%
  );
  position: relative;
  flex-grow: 1;
}

.dgl_services-digital-marketing-option-1:before,
.dgl_services-digital-marketing-option-2:before,
.dgl_services-digital-marketing-option-3:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  bottom: 50%;
  left: 0%;
  border-left: 3px solid yellow;
}

.dgl_services-digital-marketing-option-1 h1,
.dgl_services-digital-marketing-option-2 h1,
.dgl_services-digital-marketing-option-3 h1 {
  font-size: x-large;
}

.dgl_services-digital-marketing-option-paragraph {
  font-size: small;
  color: white;
}

.dgl_services-digital-development {
  display: flex;
}

.dgl_services-digital-development-header {
  color: white;
}

.dgl_services-digital-development-dev-1 {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  background-image: linear-gradient(
    to bottom,
    #3a7bd5 0%,
    #003c91 51%,
    #003c91 100%
  );
  position: relative;
  flex-grow: 1;
}

.dgl_services-digital-development-dev-1:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  bottom: 50%;
  left: 0%;
  border-left: 3px solid yellow;
}

.dgl_services-digital-development-dev-1-icon {
  align-items: center;
  display: flex;
  align-self: center;
}

.dgl_services-digital-development-dev-1-icon img {
  align-items: center;
}

.dgl_services-digital-transformation-content {
  align-items: center;
  display: flex;
  align-self: center;
  color: white;
}

.dgl_services-digital-transformation-content-button-list {
  padding: 1rem 1rem;
}
