.dgl__services {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  padding: 0rem 3rem;
}

.dgl_services-headline-title {
  color: var(--light_blue);
}

.dgl_services-digital-marketing-title {
  color: white;
}

.dgl_services-headline-subheader {
  color: #fff;
}

.dgl_services-digital-marketing,
.dgl_services-digital-marketing-options {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.dgl_services-digital-development {
  display: flex;
}

.dgl_services-digital-development-header {
  color: white;
}
