.dgl__button {
  color: azure;
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
}

.dgl__button-content,
.dgl__button-icon-container {
  border: solid 2px var(--blue);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.dgl__button-content p {
  font-size: 15px;
  font-weight: 500;
}

.dgl__button-content {
  padding: 0rem 1.5rem;
}

.dgl__button-icon-container {
  background-color: var(--dark_blue);
  padding: 0rem 0.5rem;
}

.dgl__button-icon {
  height: 15px;
  width: 15px;
}
