.dgl__button {
  color: azure;
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
}

.dgl__button-content,
.dgl__button-icon-container {
  border-top: solid 2px var(--blue);
  border-left: solid 2px var(--blue);
  border-bottom: solid 2px var(--blue);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.dgl__button-icon-container {
  border-right: solid 2px var(--blue);
}

.dgl__button-content p {
  font-size: 15px;
  font-weight: 500;
}

.dgl__button-content {
  padding: 0.3rem 1.5rem;
  background-color: var(--dark_blue);
}

.dgl__button-icon-container {
  background-color: var(--dark);
  padding: 0.3rem 0.5rem;
}

.dgl__button-icon {
  height: 15px;
  width: 15px;
}
