.dgl__agreements {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 9rem;
  text-align: left;
}

.dgl_agreements-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dgl_agreements-card {
  background: var(--dark_blue);
  line-height: 5px;
  height: 550px;
  width: 300px;
  padding: 1rem 1rem;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  transition: opacity 1s;
}

.dgl_agreements-card-active {
  background: linear-gradient(
    to bottom,
    var(--light_blue) 0%,
    var(--blue) 50%,
    var(--blue) 100%
  );
  line-height: 5px;
  height: 575px;
  width: 300px;
  padding: 1rem 1rem;
  border: solid 2px var(--yellow);
  border-bottom: 6px solid var(--yellow);
  box-shadow: rgba(166, 165, 165, 0.25) 0px 54px 55px,
    rgba(132, 131, 131, 0.12) 0px -12px 30px,
    rgba(163, 161, 161, 0.12) 0px 4px 6px,
    rgba(179, 177, 177, 0.17) 0px 12px 13px,
    rgba(147, 145, 145, 0.09) 0px -3px 5px;
  transition: opacity 1s;
}

.dgl_agreements-card-inquire {
  text-align: center;
  justify-content: center;
  display: flex;
}

.dgl_agreements-card-duration {
  text-align: center;
}

.dgl_agreements-card-title {
  letter-spacing: 3px;
  font-size: 12px;
}

.dgl_agreements-card-logo {
  text-align: center;
}

.dgl_agreements-card-logo img {
  width: 35%;
  height: 35%;
}

.dgl_agreements-card-title {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.dgl_agreements-card-features {
  text-align: center;
  display: flex;
  justify-content: center;
}

.dgl_agreements-card-feature p {
  display: flex;
  text-align: center;
  justify-content: center;
}

.dgl_agreements-card-features-list {
  margin: 0 auto;
  padding: 0 0 0 0;
  margin-bottom: 1rem;
  list-style: none;
  text-align: center;
}
