.dgl__agreements {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 3rem;
  margin: 1rem 1rem;
  text-align: left;
}

.dgl_agreements-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dgl_agreements-card {
  background: var(--dark_blue);
  line-height: 5px;
  height: 550px;
  width: 300px;
  padding: 1rem 1rem;
  border: solid 1px #fff;
}

.dgl_agreements-card-active {
  background: linear-gradient(
    to bottom,
    var(--light_blue) 0%,
    var(--blue) 50%,
    var(--blue) 100%
  );
  line-height: 5px;
  height: 575px;
  width: 300px;
  padding: 1rem 1rem;
  border: solid 2px var(--yellow);
  border-bottom: 4px solid var(--yellow);
}

.dgl_agreements-card-inquire {
  text-align: center;
  justify-content: center;
  display: flex;
}

.dgl_agreements-card-duration {
  color: #fff;
  text-align: center;
}

.dgl_agreements-card-logo {
  text-align: center;
}

.dgl_agreements-card-logo img {
  width: 40%;
  height: 40%;
}

.dgl_agreements-card-title {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.dgl_agreements-card-features {
  text-align: center;
  display: flex;
  justify-content: center;
}

.dgl_agreements-card-feature p {
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
}

.dgl_agreements-card-features-list {
  margin: 0 auto;
  padding: 0 0 0 0;
  margin-bottom: 1rem;
  list-style: none;
  text-align: center;
}
