.dgl__agreements {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 3rem;
  margin: 1rem 1rem;
  text-align: left;
}

.dgl_agreements-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dgl_agreements-card {
  background: #0a1230;
  line-height: 5px;
  height: 550px;
  padding: 1rem 1rem;
  border: solid 1px #fff;
}

.dgl_agreements-card-active {
  background: linear-gradient(to bottom, #0076dd 0%, #0076dd 50%, #01458c 100%);
  line-height: 5px;
  height: 575px;
  padding: 1rem 1rem;
  border: solid 1px #fff;
  border-bottom: 4px solid yellow;
}

.dgl_agreements-card-inquire {
  text-align: center;
  justify-content: center;
  display: flex;
}

.dgl_agreements-card-duration {
  color: #fff;
  text-align: center;
}

.dgl_agreements-card-logo {
  text-align: center;
}

.dgl_agreements-card-logo img {
  width: 40%;
  height: 40%;
}

.dgl_agreements-card-title {
  text-align: center;
  color: #fff;
}

.dgl_agreements-card-features {
  text-align: center;
  display: flex;
  justify-content: center;
}

.dgl_agreements-card-feature p {
  color: #fff;
}

.dgl_agreements-card-features-list {
  list-style: none;
}
