.dgl__team {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 9rem;
  margin: 1rem 1rem;
  text-align: left;
  position: relative;
}

.dgl__team-cards {
  display: flex;
  justify-content: space-evenly;
}
