.App {
  text-align: center;
  background-color: var(--dark);
}

:root {
  --light: #d0d1d3;
  --dark: rgb(10, 14, 41);
  --yellow: rgb(255, 219, 79);
  --blue: rgb(0, 100, 188);
  --dark_blue: rgb(19, 34, 91);
  --light_blue: rgb(77, 196, 238);
  --mid_light_blue: rgb(0, 164, 217);
  --grey: #4b6c94;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
