.App {
  text-align: center;
  background-color: var(--dark);
}

.dgl__section {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 1rem 9rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex: 1;
}

.dgl__background-circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--dark_blue);
  z-index: -5;
  opacity: 0.4;
  float: right;
  top: -70px;
  right: -70px;
  position: absolute;
}

.dgl__background-circle-2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--dark_blue);
  z-index: -5;
  opacity: 0.4;
  float: left;
  /* top: -70px;
  right: -70px; */
  position: absolute;
}

.column {
  flex-direction: column;
}

.start {
  align-items: flex-start;
}

.dgl__paragraph {
  color: var(--grey);
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 15px;
  text-align: left;
}

:root {
  --light: #d0d1d3;
  --dark: rgb(10, 14, 41);
  --yellow: rgb(255, 219, 79);
  --blue: rgb(0, 100, 188);
  --dark_blue: rgb(19, 34, 91);
  --light_blue: rgb(77, 196, 238);
  --mid_light_blue: rgb(0, 164, 217);
  --grey: #7b9cc5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
